.projects_block {
    min-height: 100vh;
    background-color: #eca9e4;
    display: flex;
    justify-content: center;
}

.projects_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.projects_title_container {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    height: 200px;
    border: 1px solid;
}

.projects_title {
    background-color: #b0d3fc;
}


.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}