.container {
    /*border: 1px solid green;*/
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 1400px) {
    .container {
        width: 80%
    }
}

