.greeting {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
}

.main_FirstName {
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
}

.main_lastName {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 1.2;
    color: #fd562a;
}

.main_based {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #b0aac0;
}

.main_frontend {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
}