.greeting_wrapper {
    margin-top: 15px;
}

.greeting {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
}

.main_firstName {
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
}

.main_lastName {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 1.2;
    color: #fd562a;
}

.main_based {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #b0aac0;
}

.main_frontend {
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
}

@media screen and (max-width: 1050px ) {
    .main_firstName {
        font-size: 55px;
    }

    .main_lastName {
        font-size: 55px;
    }

    .main_based {
        font-size: 18px;
    }

    .main_frontend {
        font-size: 18px;
    }

    .greeting_wrapper{
        width: 324px;
    }
}