@import '../../common/styles/mixins';
@import '../../common/styles/variables';

.main_block {
    background-color: $backgroundBlack;
    min-height: 100vh;
    @include flex ($justify-content: center);
    .main_container {
        width: 100%;
        padding: 0 35px;
        @include flex ($justify-content: center, $align-items: center);
        @media screen and (max-width: 1050px ){
            flex-direction: column;
        }
        .main_photo_wrapper {
            width: 624px;
            display: flex;
            @media screen and (max-width: 1050px ){
                width: 342px;
                margin-top: 130px;
                justify-content: center;
            }
            .main_photo {
                width: 410px;
                height: 410px;
                border-radius: 50%;
                @media screen and (max-width: 1050px ){
                    width: 340px;
                    height: 340px;
                }
            }
        }
    }
}
