@import '../../common/styles/mixins';
@import '../../common/styles/variables';

.main_buttons_wrapper {
    margin-top: 60px;
    @include flex($align-items: center);
    height: max-content;
    @media screen and (max-width: 1050px ){
        flex-direction: column;
    }
    .main_btn {
        margin-right: 17px;
        padding: 15px 42px;
        background: $accentColor;
        color: $btnTextColor;
        border-radius: 5px;
        @include text($poppinsFont, 700, 16px);
        text-transform: uppercase;
        transition: transform 0.5s ease-in-out;
        @media screen and (max-width: 1050px ){
            margin: 10px;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    .ghost_btn {
        padding: 13px 40px;
        background: transparent;
        color: $btnTextColor;
        border-radius: 5px;
        @include text($poppinsFont, 700, 16px);
        text-transform: uppercase;
        border: 2px solid $accentColor;
        transition: transform 0.5s ease-in-out;
        @media screen and (max-width: 1050px ){
            margin: 10px ;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}