.main_block {
    background-color: #212228;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main_container {
    width: 100%;
    padding: 0 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.main_photo_wrapper {
    width: 624px;
}

.main_photo {
    width: 410px;
    height: 410px;
}