.main_buttons_wrapper {
    margin-top: 60px;
    display: flex;
    align-items: center;
    height: max-content;
}

.main_btn {
    margin-right: 17px;
    padding: 15px 42px;
    background: #fd562a;
    color: #fff;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.ghost_btn {
    padding: 13px 40px;
    background: transparent;
    color: #fff;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #fd562a;
}

@media screen and (max-width: 1050px ) {
    .main_btn{
        margin: 10px;
    }
    .ghost_btn{
        margin: 10px ;
    }
    .main_buttons_wrapper{
        flex-direction: column;
    }
}