@import '../../common/styles/mixins';
@import '../../common/styles/variables';

.skills_block {
    height: max-content;
    padding-bottom: 20px;
    background-color: $backgroundGray;
    @include flex($justify-content: center);
    .skills_container {
        @include flex(column, flex-start, center);
        .skills {
            @include flex($justify-content: center);
            width: 90%;
            flex-wrap: wrap;
        }
    }
}





