.skills_block {
    min-height: 100vh;
    background-color: #26272f;
    display: flex;
    justify-content: center;
}

.skills_container {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

