@import '../../common/styles/mixins';
@import '../../common/styles/variables';

.skills_block {
    height: max-content;
    padding-bottom: 20px;
    background-color: $backgroundGray;
    @include flex(row, center, center);
    .skills_container {
        @include flex(column, center, center);
        .skills {
            @include flex($justify-content: center);
            flex-wrap: wrap;
        }
    }
}





