.header_block {
    background-color: #212228;
    width: 100%;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    position: absolute;
    transition: all 0.3s ;
}

.header_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 35px;
}

.fixed_top {
    background-color: #1f1c1c;
    border-bottom: 2px solid #fd562a;
    transform-origin: 100% 50%;
    padding: 5px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1001;
}

@media screen and (max-width: 800px) {
    .header_container {
        flex-direction: column;
    }
}


