@import '../../common/styles/mixins';
@import '../../common/styles/variables';

.header_block {
    z-index: 100;
    background-color: $backgroundBlack;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    position: fixed;
    transition: all 0.3s ;
    .header_container{
        width: 100%;
        @include flex($justify-content: flex-end, $align-items: center);
        padding: 0 35px;
        @media screen and (max-width: 1020px) {
            flex-direction: column;
        }
    }
}
