@import '../styles/variables';
.container {
  margin: 80px auto 25px;
  text-align: center;

  .title {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 24px;
    &::after {
      content: '';
      position: absolute;
      width: 80%;
      height: 4px;
      bottom: -6px;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $accentColor;
    }
  }
}
