.contacts_block {
    background-color: #26272f;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contacts_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contacts_form_wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.contacts_info_items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .contacts_form_wrapper {
        flex-direction: column;
    }
}